/* Pertemuan tanggal 16 */
*{
    font-family: Arial;
}

table,th,td{
    border:1px solid black;
}

.selection-border{
    justify-content: center;
    display: flex;
}

.selection-tengah{
    justify-content: center;
    border: 4px solid black;
    display: grid;
}
@media(min-width: 922px){
    .selection-atas{
        color: pink;
    }
    .selection-border{
        justify-content: stretch;
        display: flex;
    }
    .selection-tengah{
        justify-content: stretch;
        display: flex;
    }
}

@media(min-width: 768px){

    .selection-atas{

        color:turquoise;     

    }
}

@media(max-width: 768px){
    .selection-atas{
        text-align: center;
        color: greenyellow;
    }    
}

/*Pertemuan Sebelumnya */
.text3{
    font-size: 250px;
    color: black;
}

.kotak{
    background-color: black;
    color: rgb(245, 230, 179);
}

.produk{
    border: 7px solid rgb(4, 128, 0);
    padding: 100px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.text3{
    font-size: 250px;
    color: black;
}

.kotak{
    background-color: black;
    color: rgb(245, 179, 225);
}

.produk{
    border: 7px solid rgb(0, 0, 0);
    padding: 100px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

/*Pertemuan tanggal 23*/
.iniwaktu{
    background: url(https://mmc.kalteng.go.id/files/berita/09012019091014_0.jpg);
    background-size: cover;
    padding: 200px 450px;
    color: turquoise;
    font-size: 100px;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #jam {
    font-size: 4.5pc;
  }
  #tanggal {
    font-size: 2pc;
  }
  #jam,
  #tanggal {
    text-shadow: 0 5px 5px #000000bb;
    justify-content: center;
  }